body {
    background-color: #F2F2F2;
    -webkit-font-smoothing: antialiased;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

a.button-collapse.top-nav.full {
    line-height: 56px;
}

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: -4%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

.fa-times:hover {
    cursor: pointer;
}

input:not([type]).ng-invalid.ng-dirty.input-blurred, input:not([type]):focus.ng-invalid.ng-dirty.input-blurred,
input[type=text].ng-invalid.ng-dirty.input-blurred,
input[type=text]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=password].ng-invalid.ng-dirty.input-blurred,
input[type=password]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=email].ng-invalid.ng-dirty.input-blurred,
input[type=email]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=url].ng-invalid.ng-dirty.input-blurred,
input[type=url]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=time].ng-invalid.ng-dirty.input-blurred,
input[type=time]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=date].ng-invalid.ng-dirty.input-blurred,
input[type=date]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=datetime-local].ng-invalid.ng-dirty.input-blurred,
input[type=datetime-local]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=tel].ng-invalid.ng-dirty.input-blurred,
input[type=tel]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=number].ng-invalid.ng-dirty.input-blurred,
input[type=number]:focus.ng-invalid.ng-dirty.input-blurred,
input[type=search].ng-invalid.ng-dirty.input-blurred,
input[type=search]:focus.ng-invalid.ng-dirty.input-blurred,
textarea.materialize-textarea.ng-invalid.ng-dirty.input-blurred,
textarea.materialize-textarea:focus.ng-invalid.ng-dirty.input-blurred {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

input:not([type]).ng-invalid.ng-dirty.input-blurred + label:after,
input:not([type]):focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=text].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=text]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=password].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=password]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=email].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=email]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=url].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=url]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=time].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=time]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=date].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=date]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=datetime-local].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=datetime-local]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=tel].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=tel]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=number].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=number]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
input[type=search].ng-invalid.ng-dirty.input-blurred + label:after,
input[type=search]:focus.ng-invalid.ng-dirty.input-blurred + label:after,
textarea.materialize-textarea.ng-invalid.ng-dirty.input-blurred + label:after,
textarea.materialize-textarea:focus.ng-invalid.ng-dirty.input-blurred + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}

.loader,
.loader:before,
.loader:after {
    background: #009688;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: fixed;
    top: 5%;
    left: 50%;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #009688;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #009688;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #009688;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #009688;
        height: 5em;
    }
}

.tab-content {
    margin-top: 10px;
}

.fa-trash {
    color: #ee6e73;
    cursor: pointer;
}

.fa-pencil {
    cursor: pointer;
    color: #555555;
}

table td a {
    color: #26a69a;
}

.primary-color {
    background-color: #F44336;
}

.primary-text {
    color: #F44336;
}

.error-panel .card-panel {
    padding: 10px;
}

.error-panel .card-panel p {
    margin-top: 2px;
}

.smooth-panel {
    border: 1px solid #EAE9E9;
    padding: 5px 15px;
    display: inline-block;
}

/*Overriding default materialize here*/
td, th {
    padding: 10px;
}

table {
    font-size: inherit;
}

table td a {
    color: inherit;
}

.card-panel, .card, .toast, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
}

#search {
    border: 1px solid #26A69A;
    padding-left: 20px;
    padding-top: 0;
    height: 2.5rem;
    border-bottom: 1px solid #26A69a;
}

.btn-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    position: relative;
}
.btn {
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border: 0;
    text-transform: uppercase;
}
.dropdown-button .material-icons{
    cursor: pointer;
}