.item-row {
    margin-bottom: 0;
}

.item-row:hover {
    cursor: move;
}

.fa-times:hover {
    cursor: pointer;
}

#item-container {
    padding: 0;
}

.drag-handle:hover {
    cursor: move;
}

#editable-table td > div {
    padding: 15px 5px;
}

#editable-table td {
    padding: 0;
}

#editable-table {
    margin-bottom: 10px;
}

.disabled-input {
    color: grey !important;
}

.drag-handle .material-icons {
    padding-left: 10px;
}

.cursor-inherit {
    cursor: default;
}