<div class="row">
    <div class="col m11 s12">
        <breadcrumb-component></breadcrumb-component>
        <div class="card-panel">
            <div class="row" *ngIf="list">
                <div class="col m8 s12">
                    <a class="right dropdown-button" [dropdown] data-activates='dropdown-more-vert'><i
                            class="material-icons">more_vert</i></a>
                    <ul id='dropdown-more-vert' class='dropdown-content'>
                        <li><span (click)="removeList()">Delete</span></li>
                    </ul>
                    <form (ngSubmit)="onSubmit()" #listForm="ngForm">
                        <div class="input-field col m6 s10">
                            <input placeholder="Placeholder" id="list_name" type="text" class="validate"
                                   [(ngModel)]="list.ListName" [disabled]="list.BuiltIn"
                                   [ngClass]="{'disabled-input': list.BuiltIn}">
                            <label for="list_name" class="active" [ngClass]="{'disabled-input': list.BuiltIn}">List Name</label>
                        </div>
                        <table class="bordered striped" id="editable-table">
                            <thead>
                            <tr>
                                <th>Sort</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody id="item-container">
                            <tr *ngFor="#item of list.Items;#i=index;#last=last;#i=index" class="item-row">
                                <td class="drag-handle">
                                    <i class="material-icons">list</i>
                                </td>
                                <td class="cursor-inherit">
                                    <div contenteditable="true" #el (blur)="onBlur(el, item,'Title')"
                                         [(innerText)]="item.Title"></div>
                                </td>
                                <td class="cursor-inherit">
                                    <div contenteditable="true" #el2 (blur)="onBlur(el2, item,'Code')"
                                         [(innerText)]="item.Code"></div>
                                </td>
                                <td class="cursor-inherit">
                                    <i class="fa fa-trash" (click)="removeItem(i)"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col m10 input-field"></div>
                            <div class="col m2">
                                <a class="btn-floating" (click)="addListItem()"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light grey" type="button" (click)="onCancel()">Cancel</button>
                        <button class="btn btn-primary">Save &nbsp;&nbsp;<i class="fa fa-floppy-o"></i></button>
                    </form>
                </div>
            </div><!--Delete List Item Modal-->
            <div id="modal-delete" class="modal">
                <div class="modal-content">
                    <h4>Warning</h4>
                    <p *ngIf="list">Are you sure that you want to delete <strong>{{list.ListName}}</strong> list?</p>
                </div>
                <div class="modal-footer">
                    <button class=" modal-action waves-effect waves-green btn-flat" (click)="onDeleteYes()">Yes</button>
                    <button class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>