<div class="row">
    <div class="col m11">
        <breadcrumb-component></breadcrumb-component>
        <div class="card-panel">
            <div class="row">
                <div class="col s12 m10">
                    <table class="striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th colspan="2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="#list of lists; #last=last;#i=index">
                            <td>{{list.ListName}}</td>
                            <td>
                                <a href="" [routerLink]="['List',{id: list.ID}]"><i class="fa fa-pencil"></i></a>
                            </td>
                            <td><i class="fa fa-trash" (click)="onDelete(list)"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="fixed-action-btn" style="bottom: 24px; right: 24px;position: absolute">
                        <a class="btn-floating btn-large red" [routerLink]="['List',{id:'new'}]">
                            <i class="large material-icons">add</i>
                        </a>
                    </div>
                </div>

            </div>

            <!--Delete List Item Modal-->
            <div id="modal-delete" class="modal">
                <div class="modal-content">
                    <h4>Warning</h4>
                    <p *ngIf="listToBeDeleted">Are you sure that you want to delete list
                        <strong>{{listToBeDeleted.ListName}}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button class=" modal-action waves-effect waves-green btn-flat" (click)="onDeleteYes()">Yes</button>
                    <button class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>