<div class="row">
    <div class="col s6">

        <div class="card white">
            <div class="card-content">
                <span class="card-title">Card Title</span>
                <p><a href="" [routerLink]="['Lists']">Lists</a></p>
            </div>
        </div>
    </div>
</div>