<ul id="nav-mobile" class="side-nav fixed">
    <li class="teal home center">
        <a [routerLink]="['Home']">
            Home
        </a>
    </li>
    <li class="bold no-padding" *ngFor="#menuItem of leftMenu; #i=index" [ngClass]="{active: i == activeMenuIndex}">
        <a class="collapsible-header waves-effect waves-teal"
           [routerLink]="menuItem.RouterLink"
           (click)="onClick(i)">
            <i class="material-icons" [innerHTML]="menuItem.Icon"></i>{{menuItem.PageTitle}}</a>
    </li>
</ul>