
#nav-mobile {
    width: 240px;
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px
}

.home {
    height: 64px;
}

.home a {
    font-size: 18px !important;
    padding-top: 10px;
}

.material-icons {
    color: #26a69a !important;
}