<div class="container">
    <div class="row">
        <h4 class="center-align">Login</h4>
        <p class="center-align">Sign in to continue to Axess</p>
        <div class="row">
            <div class="col m6 offset-m3 s12 ">
                <div class="card">
                    <div class="card-content">
                        <p class="center-align card-title"><i class="material-icons md-48">account_circle</i></p>
                        <div class="row">
                            <form class="col s10 m10 offset-m1 offset-s1" (ngSubmit)="onSubmit()" #userForm="ngForm">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="username" [(ngModel)]="loginModel.username" ngControl="username"
                                               #username="ngForm" type="text"
                                               class="validate" [class.invalid]="errorOccurred" required>
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="pass" [(ngModel)]="loginModel.password" ngControl="password"
                                               #password="ngForm" type="password"
                                               class="validate" [class.invalid]="errorOccurred" required>
                                        <label for="pass">Password</label>
                                        <span class="error-message" *ngIf="errorOccurred">Username not found or password is incorrect</span>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col m12">
                                        <button class="btn waves-effect waves-light" type="submit"
                                                name="action" [disabled]="!userForm.form.valid">
                                            <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i> Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>