<div class="card-panel">
    <table *ngIf="notes" class="striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#note of notes">
            <td [innerHTML]="note.Note"></td>
            <td>
                <a (click)="onNewNoteClick(note)"><i
                        class="fa fa-pencil"></i>
                </a>
            </td>
            <td>
                <i class="fa fa-trash" (click)="onDelete(note)"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" (click)="onNewNoteClick()">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <div id="modal-new-note" class="modal">
        <div class="modal-content">
            <form *ngIf="newNote" #noteForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="input-field col s10">
                    <textarea [materialize-textarea]="" id="note" class="materialize-textarea" [ngControl]="note"
                              [(ngModel)]="newNote.Note" required></textarea>
                        <label for="note" class="active">Note</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6">
                        <button type="submit" [(disabled)]="!noteForm.form.valid" class="btn waves-effect waves-light">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onModalCancel()">Cancel</a>
        </div>
    </div>
</div>