<div class="navbar-fixed">
    <nav class="top-nav">
        <ul id="nav-mobile-2" class="right">
            <li>
                <a>
                    <i class="material-icons md-18">&#xE86C;</i>
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons md-18">&#xE866;</i>
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons md-18">&#xE003;</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button-top" data-activates="dropdown-right">
                    Nursultan<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- Dropdown Structure -->
<ul id="dropdown-right" class="dropdown-content">
    <li><a href="#!">Profile</a></li>
    <li class="divider"></li>
    <li><a href="" (click)="onLogoutClick()">Logout</a></li>
</ul>
<div class="container">
    <a href="#" data-activates="nav-mobile"
       class="button-collapse top-nav full hide-on-large-only">
        <i class="mdi-navigation-menu"></i>
    </a>
</div>