#breadcrumb-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#breadcrumb-container .breadcrumb-content a {
    color: gray;
}

#breadcrumb-container .breadcrumb-content a:hover {
    color: #454545;
}

.breadcrumb-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
}