<div class="card-panel" *ngIf="routes" id="breadcrumb-container">
    <p *ngIf="title" class="breadcrumb-title teal-text">{{title}}</p>
    <div class="breadcrumb-content">
        <span *ngFor="#route of routes">
        <a [routerLink]="route.RouterLink">{{ route.name }}</a>
            <span> / </span>
    </span>
        <span *ngIf="last">{{last}}</span>
    </div>
</div>