<form [ngFormModel]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
        <div class="col s12 m7" style="padding: 0">
            <ul class="tabs z-depth-1" [materialize-tab]="">
                <li class="tab col s3" *ngFor="#tabName of tabNames;#i=index"><a href="#tab-{{i}}">{{tabName}}</a>
                </li>
            </ul>
        </div>
        <div id="tab-{{i}}" class="col s12 m7 tab-content card-panel" *ngFor="#tabName of tabNames;#i=index">
            <div *ngFor="#property of profileModel.Properties" class="form-row">
                <div class="row" *ngIf="property.Property.TabName == tabName">
                    <form-input [property]="property" [form]="form"></form-input>
                </div>
            </div>
        </div>
        <div class="col m5">
            <div *ngIf="!form.valid && !form.pristine" class="error-panel">
                <p class="grey-text text-darken-4">Please Fix Following Errors</p>
                <div *ngFor="#errorBag of getFormControls()" class="card-panel primary-color">
                    <span>{{errorBag.property.Property.PropertyName}}</span>
                    <p class="white-text" *ngFor="#error of errorBag.errors">{{error}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m7" *ngIf="form">
            <button type="submit" [(disabled)]="!form.valid" class="btn waves-effect waves-light">Save</button>
        </div>
    </div>
</form>
