<div [ngFormModel]="form">
    <div [ngSwitch]="property.Property.Type">
        <template [ngSwitchWhen]="'Date'">
            <div class="input-field col s12">
                <input type="date"
                       [(attr.data-value)]="property.Value"
                       [(ngModel)]="property.Value"
                       [ngControl]="property.PropertyID"
                       [materialize-date]="">
                <label class="active">{{property.Property.PropertyName}}</label>
            </div>
        </template>
        <template [ngSwitchWhen]="'Checkbox'">
            <div class="input-field col s12">
                <input type="checkbox" class="validate"
                       [ngControl]="property.PropertyID"
                       [(ngModel)]="property.Value"
                       [ngClass]="{blurred: input-blurred}"
                       (blur)="blurred = true"
                       (focus)="blurred= false"
                       [materialize-checkbox]="property.Property.PropertyName">
                <label class="active"
                       [normalized-for]="property.Property.PropertyName">{{property.Property.PropertyName}}</label>
            </div>
        </template>
        <template [ngSwitchWhen]="'List'">
            <div class="col s12">
                <label>{{property.Property.PropertyName}}</label>
                <select [materialize-select]=""
                        [ngControl]="property.PropertyID"
                        class="browser-default"
                        [ngClass]="{blurred: input-blurred}"
                        (blur)="blurred = true"
                        (focus)="blurred= false"
                        [(ngModel)]="property.ListItemID" *ngIf="list">
                    <option [value]="item.ID" *ngFor="#item of list.Items"
                            [selected]="item.ID == property.ListItemID">
                        {{item.Title}}
                    </option>
                </select>
            </div>
        </template>
        <template ngSwitchDefault>
            <div class="input-field col s12">
                <input [id]="property.PropertyID"
                       [ngControl]="property.PropertyID"
                       [type]="property.Property.Type.toLowerCase()"
                       [(ngModel)]="property.Value"
                       [my-counter]="property.Property.Length"
                       [ngClass]="{blurred: input-blurred}"
                       (blur)="blurred = true"
                       (focus)="blurred= false"
                       class="validate">
                <label class="active"
                       [attr.for]="property.PropertyID">{{property.Property.PropertyName}}</label>
            </div>
        </template>
    </div>
</div>