<form [ngFormModel]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
        <div *ngFor="#tabName of tabNames;#i=index">
            <div *ngFor="#property of profileModel.Properties" class="col s12 m6">
                <div *ngIf="property.Property.TabName == tabName">
                    <form-input [property]="property" [form]="form"></form-input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6" *ngIf="form">
            <button type="submit" [(disabled)]="!form.valid || submitting"
                    class="btn waves-effect waves-light">Save <i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>
            </button>
        </div>
    </div>
</form>
