<div class="row">
    <div class="col m12">
        <div class="row">
            <div class="col m9">
                <breadcrumb-component></breadcrumb-component>
                <div class="">
                    <logged-in-router-outlet></logged-in-router-outlet>
                </div>
            </div>
            <div class="col m3">
                <p>Pages</p>
                <div class="row" id="right-menu">
                    <ul class="dropdown-content active col m2" *ngIf="pages">
                        <li *ngFor="#page of pages">
                            <a [routerLink]="page.RouterLink" class="right-menu"
                               [ngClass]="{'white-text teal': selectedPage == page}" (click)="selectedPage = page">
                                <i class="material-icons" [innerHTML]="page.icon"></i> {{page.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>