<div class="row">
    <div class="col m11">
        <div class="card-panel">
            <div class="row" id="top-search">
                <div class="col m5">
                    <form novalidate>
                        <div class="input-field">
                            <input id="search" class="bordered-input" [(ngModel)]="personCriteria.Keyword" type="text" (change)="onChange($event)" placeholder="Search..." required>
                        </div>
                    </form>
                </div>
                <div class="col m6 offset-m1">
                    <div class="input-field right show-count" *ngIf="personCriteria">
                        <button type="button left" *ngFor="#count of showCount" (click)="onShowChange(count)"
                                class="btn" [ngClass]="{active:personCriteria.PageSize == count}">{{count}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="searchResult">
                <div class="col m12 s12">
                    <table class="striped sortable">
                        <thead>
                        <tr>
                            <th (click)="orderBy('PersonNo')">
                                <i class="fa fa-sort " *ngIf="sortingCriteria.property != 'PersonNo'"></i>
                                <i class="fa fa-sort-{{sortingCriteria.direction}}"
                                   *ngIf="sortingCriteria.property == 'PersonNo'"></i>
                                Person ID
                            </th>
                            <th (click)="orderBy('Name')">
                                <i class="fa fa-sort " *ngIf="sortingCriteria.property != 'Name'"></i>
                                <i class="fa fa-sort-{{sortingCriteria.direction}}"
                                   *ngIf="sortingCriteria.property == 'Name'"></i>
                                Name
                            </th>
                            <th colspan="2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="#person of searchResult.Result">
                            <td>{{person.PersonNo}}</td>
                            <td>
                                <a [routerLink]="['PeopleDetailParent',{personType: person.PersonTypeCode,personID: person.ID},'PeopleProfile']">{{person.Name}}</a>
                            </td>
                            <td>
                                <a [routerLink]="['PeopleDetailParent',{personType: person.PersonTypeCode,personID: person.ID},'PeopleProfile']">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <!--<td>
                                <i class="fa fa-trash" (click)="deletePerson(person)"></i>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col m6">
                            <p *ngIf="paginatorModel" class="smooth-panel">Showing <strong>{{searchResult.Result.length }}</strong> of
                                <strong>{{paginatorModel.count}}</strong>
                            </p>
                        </div>
                        <div class="col m6">
                            <ul class="pagination right" *ngIf="paginatorModel && paginatorModel.pageCount">
                                <li [ngClass]="{'disabled': paginatorModel.currentIndex==0}">
                                    <a (click)="paginatorClick(0)">
                                        <i class="material-icons">&#xE5DC;</i>
                                    </a>
                                </li>
                                <li *ngFor="#currentPageIndex of paginatorModel.indexList"
                                    [ngClass]="{active:currentPageIndex == paginatorModel.currentIndex}">
                                    <a (click)="paginatorClick(currentPageIndex)">{{currentPageIndex+1}}</a>
                                </li>
                                <li class="waves-effect"
                                    [ngClass]="{'disabled':paginatorModel.currentIndex == paginatorModel.lastIndex}">
                                    <a (click)="paginatorClick(paginatorModel.lastIndex)"><i class="material-icons">
                                        &#xE5DD;</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-action-btn" style="bottom: 24px; right: 24px;position: fixed">
                <a class="btn-floating btn-large red" (click)="onNewPersonClick()">
                    <i class="large material-icons">add</i>
                </a>
            </div>

            <div id="modal-new-person" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div *ngIf="newPerson && tabNames">
                        <new-person-form [profileModel]="newPerson" [tabNames]="tabNames"></new-person-form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class=" modal-action modal-close waves-effect waves-green btn-flat" (click)="onModalCancel()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>