.sort-label {
    display: inline-block;
    padding-top: 10px;
}

.pagination li a:hover {
    cursor: pointer;
}

.fa-sort-asc, .fa-sort-desc {
    color: #EE6E73;
}

table.sortable thead th {
    cursor: pointer;
}

#top-search {
    margin-bottom: 0;
    margin-top: 10px;
}

#top-search form {
    margin-bottom: 0;
}

.show-count button {
    margin-right: 2px;
    background-color: #FFFFFF;
    color: #26a69a;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

.show-count button.active {
    color: #FFFFFF;
    background-color: #26a69a;
}