.page-title {
    vertical-align: super;
}

.sort-label {
    display: inline-block;
    padding-top: 10px;
}

#right-menu > ul {
    display: block;
    opacity: 1;
    padding: 0;
}

#right-menu .material-icons {
    vertical-align: middle;
}